<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:fragment="title">SoCielize: About</title>
</head>
<body>
<div th:fragment="content">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Website owned and edited by</h3>
        </div>
        <div class="panel-body">
            Nicolas Lorin<br/>
            Adress: 3, allee des hirondelles - 95220 HERBLAY | FRANCE<br/>
            Mail: nicolas@androw.eu<br/>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Website hosted by</h3>
        </div>
        <div class="panel-body">
            SARL OVH<br/>
            Adress: 140, quai du Sartel - 59100 ROUBAIX | FRANCE<br/>
            Tel: 0 899 701 761 - Fax: 03 20 20 09 58<br/>
            Mail: support@ovh.com<br/>
            Site: www.ovh.com<br/>
        </div>
    </div>
</div>
</body>
</html>
