<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:fragment="title">SoCielize: Home</title>
</head>
<body>
<div th:fragment="content">
    <h1>Hello, world!</h1>

    <p th:text="'Hello, ' + ${name} + '!'"/>

    <div class="row">
        <div class="col-md-6">
            <table class="table">
                <thead>
                <tr>
                    <th>Carrier</th>
                    <th>Flight Number</th>
                    <th>Date</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="flight : ${flights}">
                    <td th:text="${flight.carrier}"></td>
                    <td th:text="${flight.flightNumber}"></td>
                    <td th:text="${flight.dateString}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>
