<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:fragment="title">SoCielize: Login</title>
</head>
<body>
<div th:fragment="content">
    <div class="row">
        <form name="f" th:action="@{/login}" method="post" role="form">
            <legend>Please Login</legend>
            <div th:if="${param.error}" class="alert alert-error" role="alert">
                Invalid username or password.
            </div>
            <div th:if="${param.logout}" class="alert alert-success" role="alert">
                You have been logged out.
            </div>
            <div class="input-group form-group">
                <span class="input-group-addon"><span class="fa fa-envelope-o"></span></span>
                <input type="text" class="form-control" id="username" name="username" placeholder="Email"/>
            </div>
            <div class="input-group form-group">
                <span class="input-group-addon"><span class="fa fa-key"></span></span>
                <input type="password" class="form-control" id="password" name="password" placeholder="Password"/>
                <span class="input-group-btn">
                <button class="btn btn-default" type="submit">Go!</button>
      </span>
            </div>
        </form>
    </div>
</div>
</body>
</html>