<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:fragment="title">Yours flights</title>
</head>
<body>
<div th:fragment="content">
    <div class="page-header">
        <h1>Your flights</h1>
    </div>
    <div class="row">
        <div class="col-md-6">
            <table class="table">
                <thead>
                <tr>
                    <th>Carrier</th>
                    <th>Flight Number</th>
                    <th>Date</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="flight : ${flights}">
                    <td th:text="${flight.carrier}"></td>
                    <td th:text="${flight.flightNumber}"></td>
                    <td th:text="${flight.dateString}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>
