<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
    <title th:fragment="title">People onboard</title>
</head>
<body>
<div th:fragment="content">
    <div class="page-header">
        <h1>People onboard</h1>
    </div>

    <p th:text="'People on flight ' + ${flight.carrier} + ${flight.flightNumber} +' on the ' + ${flight.dateString} +'.'"/>

    <div class="row">
        <div class="col-md-6">
            <table th:if="${find}" class="table">
                <thead>
                <tr>
                    <th>Firstname</th>
                    <th>Description</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="passenger : ${passengers}">
                    <td th:text="${passenger.firstName}"></td>
                    <td th:text="${passenger.desc}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>